@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}


 html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Baloo Bhai 2", serif;
}

main {
  flex: 1; /* Pushes the footer to the bottom */
}
